.card-parent {
  margin-top: 5rem;
}

.card-announcement {
  height: 100px;
  & .card-title {
    color: white;
    & h2 {
      display: block;
      padding: 25px 30px 10px 110px;
      text-align: right;
      font-size: 1.5rem;
    }
  }
}
