.option {
  padding: .125rem .75rem;
}

.grid-main, .grid-secondary {
  padding: 0;
  margin: 0;
  .item {
    height: 25vh;
  }
}

.item {
  height: 40vh;
}

article h2, .carousel-item h2 {
  text-align: center;
  color: white;
}

.carousel-item h2 {
  padding-top: 45%;
}

article h2 {
  padding-top: 10%;

}