.promotion-block {
  overflow: hidden;
}

.promotion-xmass {
  background-color: #0b4e0b;
  min-height : 60vh;
}

.promotion-wrapper {
  margin-top: -60vh;
}

.promotion-devices {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  position: relative;
  & .promotion-mobile, .promotion-pad, .promotion-desktop, .promotion-tv {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -250%;
    bottom: 0;
  }
  & .promotion-mobile {
    background-color: red;
    animation: 1s ease-in forwards 0s device-wrapper;
  }
  & .promotion-pad {
    background-color: yellow;
    animation: 2s ease-in forwards 0.2s device-wrapper;
  }
  & .promotion-desktop {
    background-color: limegreen;
    animation: 2s ease-in forwards 0.5s device-wrapper;
  }
  & .promotion-tv {
    background-color: blue;
    animation: 2s ease-in forwards 0.75s device-wrapper;
  }
}

@keyframes device-wrapper {
  0% {
    right: -250%;
    opacity: 0
  }
  25% {
    right: -100%;
    opacity: 0
  }
  45% {
    right: 25px;
    transform-origin: left bottom;
    transform: rotate(-1deg);
    opacity: .25
  }
  50% {
    right: 10px;
    transform-origin: left bottom;
    transform: rotate(-3deg);
    opacity: .5
  }
  75% {
    right: 5px;
    transform-origin: left bottom;
    transform: rotate(-5deg);
    opacity: 1
  }
  100% {
    right: 0;
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1
  }
}

.barred-price {
  font-size: 4rem;
}

.barred-price {
  font-size: 2.5rem;
  font-weight: bolder;
  width: 25%;
  margin-top: -85px;
  margin-left: 220px;
  & .cent {
    font-size: 1.5rem;
    top: -0.75rem;
  }
  & .line {
    display: block;
    position: absolute;
    right: 35px;
    bottom: 80px;
    width: 30%;
    border-bottom: 3px solid white;
    transform: rotate(-15deg);
  }
}

.only {
  font-size: 2rem
}

.price b{
  font-size: 8rem;
  & .cent {
    font-size: 4.5rem;
    top: -2.5rem
  }
}

